<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('vol.list.title') %></h2>
    <table class="table-list">
        <thead>
        <tr>
            <th><%= __('vol.fields.firstName') %></th>
            <th><%= __('vol.fields.lastName') %></th>
            <th><%= __('vol.fields.email') %></th>
            <th><%= __('vol.fields.phoneNumber') %></th>
            <th><%= __('list.actions.title') %></th>
        </tr>
        </thead>
        <tbody>
        <% for (let volunteer of volunteers) { %>
            <tr>
                <td><%= volunteer.volFirstName %></td>
                <td><%= volunteer.volLastName %></td>
                <td><%= volunteer.volEmail %></td>
                <td><%= volunteer.phoneNumber %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/volunteers/details/<%= volunteer._id %>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                        </li>
                        <li>
                            <a href="/volunteers/edit/<%= volunteer._id %>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a href="/volunteers/delete/<%= volunteer._id %>"
                               class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <p><a href="/volunteers/add" class="button-add"><%= __('vol.list.addNew') %></a></p>

</main>
<%- include('../../fragments/footer.ejs') %>