<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista Adoptujących</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>email</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let adopter of adopters) { %>
            <tr>
                <td><%= adopter.firstName %></td>
                <td><%= adopter.lastName %></td>
                <td><%= adopter.email %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/Adopters/details/<%= adopter._id %>"
                               class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="/Adopters/edit/<%= adopter._id %>" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="/Adopters/delete/<%= adopter._id %>" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>

        <% } %>
        </tbody>
    </table>

    <p><a href="/Adopters/add" class="button-add">Dodaj nowego adoptującego</a></p>

</main>
<%- include('../../fragments/footer.ejs') %>